body{
width:600px;
margin:auto;
}

p{
oveflow: hidden;
}

img{
width:400px;
height:200px;
}

.showbox {
   display: inline-block;
}
.showbox p {
   text-align: center;
}
.showbox img {
   border: 2px solid skyblue;
}
